<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Salahuddin</title>
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
        @@font-face {
            font-family: "LeagueSpartan Light";
            src: url('/fonts/League/static/LeagueSpartan-Light.ttf');
        }
        @@font-face {
            font-family: "LeagueSpartan Medium";
            src: url('/fonts/League/static/LeagueSpartan-Medium.ttf');
        }
        @@font-face {
            font-family: "LeagueSpartan Bold";
            src: url('/fonts/League/static/LeagueSpartan-Bold.ttf');
        }
        @@font-face {
            font-family: "LeagueSpartan ExtraBold";
            src: url('/fonts/League/static/LeagueSpartan-ExtraBold.ttf');
        }
        @@font-face {
            font-family: "LeagueSpartan Regular";
            src: url('/fonts/League/static/LeagueSpartan-Regular.ttf');
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
